@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <title>Customer Form</title>
</head>
<body>
    <div class="main-login">
     
        <div class="img-position">
            <img src="img/utp-universidade-tuiuti-do-parana.png" class="imgpos" width="50%" />
        </div>
       

        <div class="left-login">
            <div class="form">
                <div class="title">Login</div>

                <div class="input-container ic1">
                    <input id="firstname" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="firstname" class="placeholder">Usario</label>
                </div>
                <div class="input-container ic2">
                    <input id="lastname" class="input" type="password" placeholder=" " />
                    <div class="cut"></div>
                    <label for="lastname" class="placeholder">Senha</label>
                </div>
               
                <button type="text" class="submit">Login</button>
            </div>
        </div>

    </div>

</body>

</html>